@import "bootstrap-sprockets";
@import "bootstrap";


.user-info {
   margin-top: 9px;
}
 
.nav {
  margin-top: 5px;
}

.current-user-name {
  float: left;
  text-align: right;
  margin-right: 10px;
}

.current-user-image {
  float: right;
}

